@use '../../../stylesheets/variables/numbers';
@use '../../../stylesheets/mixins/mixins.scss';

.cartoon-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: numbers.$max-page-width;
  margin-left: auto;
  margin-right: auto;
}