@use '../../stylesheets/variables/colors';
@use '../../stylesheets/variables/numbers';
@use '../../stylesheets/mixins/mixins.scss';

.about {
  display: flex;
  flex-direction: column;

  &__description {
    font-size: 18px;
    color: colors.$primary-text-color;
  }

  &__company-name {
    font-style: italic;
    font-size: 24px;
    text-transform: uppercase;
    background: colors.$header-title-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}