@use '../../../stylesheets/variables/colors';
@use '../../../stylesheets/variables/numbers';
@use '../../../stylesheets/mixins/mixins.scss';

.input {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  width: 40%;

  &__quiz {
    width: 100%;
    margin: 5px;
    outline: none;
    transition: all 300ms ease-in-out;
  }

  &__quiz-field {
    font-size: 18px;
  }

  &__quiz-empty {
    border: 1px solid colors.$color-empty-input;
  }

  &__quiz-right {
    border: 1px solid colors.$color-right-input;
  }

  &__quiz-wrong {
    border: 1.5px solid colors.$color-wrong-input;
  }

  &__quiz-error-span {
    color: colors.$color-error-message-input;
    font-size: 18px;
    font-weight: 500;
  }
}

.input.wrong label {
  color: colors.$color-empty-input;
}

.label {
  display: block;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: colors.$primary-text-color;
}