//common
$color-pure-white: rgb(252, 252, 252);

//little-card
$little-card-border: rgba(255, 255, 255, 0.5);
$little-card-text: rgb(0, 39, 7);
$little-card-background: rgba(36, 154, 95, 0.2);
$little-card-rating: rgb(99, 47, 65);

//404
$page-404-text: rgb(2, 70, 15);
$page-404-text-background: rgb(252, 252, 252, 1);

//buttons
$buttons-border-color: rgba(59, 177, 118, 0.3);
$buttons-shadow-color: rgba(141, 175, 157, 0.8);
$buttons-text-color: rgb(23, 159, 28);
$buttons-background-color: rgba(175, 216, 212, 0.8);